:root{
    --couleur-primaire:#83C5BE;
    --couleur-secondaire:#006D77;
    --couleur-semi-blanc:#EDF6F9;
    --couleur-rose-pale:#FFDDD2;
    --couleur-rose-foncé:#E29578;
    --font-raleway: 'Raleway', sans-serif;
    --font-prompt: 'Prompt', sans-serif;
    }
    
    body{
      background-color: var(--couleur-primaire);
    }

    nav{
        background-color: var(--couleur-secondaire);
        position: fixed;
    }

    .nav-item{
        
        color: var(--couleur-secondaire);
    }
 .navbar-toggler-icon{
    border: 2px solid var(--couleur-semi-blanc);
    border-radius: 5px;
    background-color: var(--couleur-primaire);
    
}

    img{
        width: 105px;

    }

    .chat{
        width: 50px;
    }

    .navbar-brand{
        color: var(--couleur-semi-blanc);
        font-size: 25px;
        font-family: var(--font-prompt);
        text-align: 50px;
    }

 footer nav{
    background-color:  #3f4978;
    margin: 1rem;
    vertical-align: 1rem;
 }

 footer img{
    width: 250px;
 }

 footer p{
    color: #EDF6F9;
 }

 input{
    width: 90%;
    margin: 5px;
    border: 2px solid var(--couleur-secondaire);
    border-radius: 5px;
    background-color: var(--couleur-semi-blanc);
 }

 
 input::placeholder{
    width: 90%;
    margin: 5px;
    color: var(--couleur-secondaire);
 }

 

 svg{
    color: var(--couleur-secondaire);
 }

 button{
    width:20%;
    margin: 5px;
 }
 
 .btn-primary{
    background-color: var(--couleur-rose-foncé);
    border: none;
    font-family: var(--font-prompt);
    font-weight: bold;
    color: var(--couleur-semi-blanc);
 }

 .btn-primary:hover{
    background-color: var(--couleur-rose-pale);
    border: none;
    
 }

 div .boutons {
    overflow: hidden;
 }