:root{
    --couleur-primaire:#83C5BE;
    --couleur-secondaire:#006D77;
    --couleur-semi-blanc:#EDF6F9;
    --couleur-rose-pale:#FFDDD2;
    --couleur-rose-foncé:#E29578;
    --font-raleway: 'Raleway', sans-serif;
    --font-prompt: 'Prompt', sans-serif;
    }
    
    

    nav{
        background-color: var(--couleur-secondaire);
    }

    .nav-item{
        
        color: var(--couleur-secondaire);
    }

    img{
        width: 105px;
    
    }

    .chat{
        width: 50px;
    }

    .navbar-brand{
        color: var(--couleur-semi-blanc);
        font-size: 25px;
        font-family: var(--font-prompt);
    }

 footer nav{
    background-color:  #3f4978;
    margin: 1rem;
    vertical-align: 1rem;
 }

 footer img{
    width: 250px;
 }

 footer p{
    color: #EDF6F9;
 }

 input{
    width: 23%;
 }