:root {
  --couleur-primaire: #83c5be;
  --couleur-secondaire: #006d77;
  --couleur-semi-blanc: #edf6f9;
  --couleur-rose-pale: #ffddd2;
  --couleur-rose-foncé: #e29578;
  --font-raleway: "Raleway", sans-serif;
  --font-prompt: "Prompt", sans-serif;
}

h1 {
  font-size: 60px;
  font-family: var(--font-prompt);
  color: var(--couleur-semi-blanc);
}

h2 {
  font-size: 50px;
  font-weight: bold;
  font-family: var(--font-raleway);
  color: black;
}

h3 {
  font-size: 70px;
  font-family: var(--font-raleway);
  color: black;
  font-weight: bolder;
 
}



main {
  background-color: var(--couleur-secondaire);
}

.navbar-brand {
  color: var(--couleur-semi-blanc);
  font-size: 25px;
  font-family: var(--font-prompt);
  text-align: 50px;
}

nav {
  background-color: var(--couleur-secondaire);

}

.nav-item {
  color: var(--couleur-secondaire);
}

img {
  width: 105px;
}

.navbar-toggler-icon {
  border: 2px solid var(--couleur-semi-blanc);
  border-radius: 5px;
  background-color: var(--couleur-primaire);
}

button {
  width: 100;
  margin: 5px;
}

.btn-primary {
  background-color: var(--couleur-rose-foncé);
  border: none;
  font-family: var(--font-prompt);
  font-weight: bold;
  color: var(--couleur-semi-blanc);
}

.btn-primary:hover {
  background-color: var(--couleur-rose-pale);
  border: none;
}

div .boutons {
  overflow: hidden;
}

input {
  width: 90%;
  margin: 5px;
  border: 1px solid var(--couleur-secondaire);
  border-radius: 5px;
}

input::placeholder {
  width: 90%;
  margin: 5px;
  color: var(--couleur-secondaire);
}

footer nav {
  background-color: #3f4978;
  margin-top: 1rem;
  vertical-align: 1rem;
}

footer img {
  width: 250px;
}

footer p {
  color: #edf6f9;
}

svg {
  color: var(--couleur-secondaire);
}

main {
  background-color: #fff;
}

.app {

  width: 100%;
  height: 200px;
  aspect-ratio: 5/9;
  border-radius: 12px;
  margin-top: 70px;
}

.navbar {
  font-family: var(--font-prompt);
  color: #fff;
}

.containerApp {
  margin: 100px;
}

main {
  height: 200vh;
}

iframe{
  width: 22vw;
  height: 65vh;
}

#scrollspyHeading1{
  margin-top: 70px;
}

#scrollspyHeading2{
  margin-top: 400px;
}


#scrollspyHeading3{
  margin-top: 100px;
}

.nav-link {
  color: var(--couleur-semi-blanc);
  
}

.col-lg-3{
  margin-top: 250px;
  margin-right: 70px;
}

.card{
  margin-top:25px;

}